{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "extends": ["plugin:react/recommended", "prettier"],
  "rules": {
    "jsx-quotes": [2, "prefer-single"],
    "semi": ["error", "never"],
    "quotes": [2, "single"],
    "indent": ["error", 2]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
