{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react",
    "prettier"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "indent": [
      "error",
      2
    ]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "overrides": [
    {
      "files": [
        "*.js",
        "*.jsx",
        //        "*.ts",
        //        "*.tsx"
      ],
      "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off",
        //        "@typescript-eslint/no-explicit-any": "off",
        //        "@typescript-eslint/no-inferrable-types": "off"
      }
    }
  ]
}